/* Meyer Reset */
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyer Reset */


body{
    font-family: 'Roboto', serif;
    line-height: 1.8;
		color: #131511;
    margin: auto;
		padding: 20px;
    background-color: #F2F1E8;
    mx-width: 1200px;
    margin-bottom: 30px;
}
#site-header{
  display: flex;
  flex-flow: row;
  /* align-items: center; */
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
	color: #2B2F26;
  background-color: #FFFFFF;
  position: fixed;
	text-align: center;
  z-index: 20;
}

#main-nav {
	/* color: #2B2F26; */
  justify-content: center;
  width: 90%;
	/* display: flex;
	justify-content: space-around; */
}

#main-nav a {
  margin-right: 50px;
}

a:visited {
    text-decoration: none;
}
a:hover {
  color: #CD5D67;
}
a:active {
  color: #968772;
}

h1{
	font-size: 400%;
	text-align: center;
	margin-top: 60px;
}

h3{
	font-size: 200%;
	text-align: center;
	margin-bottom: 20px;
}


#main_list{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin: 10px;
}

.box {
	flex: auto;
	position: relative;
	width: auto;
	height: auto;
}

h4 {
	position: absolute;
	bottom: 30px;
}

h4 span {
	color: #F2F1E8;
	padding: 10px;
  background: rgb(0, 0, 0); /* fallback color */
	background: rgba(56, 54, 52, 1);
  padding: 10px;
}

p a{
  color: #968772;
}

p a:hover{
  color: #967343;
}
/* ------- About page styling ------ */

.about{
  margin-left: 10%;
}

#birdhouse{
	float: left;
}
.facilities{
  display: flex;
  flex-direction: row;
}
#para2{
  /*display:flex; */
}
.facilities p{
  flex:4;
  /* position: relative;
  left: -250px; */
}
#shelf{
  flex:1;
  /* position: relative;
  right: -700px; */
}

figcaption{
  font-size: 80%;
}

blockquote{
  border-left: 1px solid #2B2F26;
  padding-left: 10px;
}

.room{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roomcap{
  position: relative;
  bottom: 130px;
  left: 200px;
}

.roomcap span {
	color: #F2F1E8;
  font-size: 24px;
	padding: 10px;
  /* background: rgb(0, 0, 0); /* fallback color */
	background-color: transparent;
  padding: 10px;
}

table{
  border-collapse: collapse;
  width: 70%;
}

table, th, td {
  border: 1px solid #2B2F26;
  padding: 5px;
}

thead {
  text-align: center;
}
td{
  margin-left: 5px;
}
tbody tr:nth-child(odd) {
  background-color: #efe5d3
}

/* ----------------- newsletter page styling ---------------------- */

.news_page{
  background-image: url("/Users/belscher/Documents/Projects/week-one-project/images/background-2.jpg");
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;

}

 #nl_main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

 #signup_form{
  background-color: white;
  /* display: flex;
  flex-flow: column;
  height: 50%;
  width: auto; */
  position:absolute;
  /* margin-top: 50px; */
  width: 60vw;
  height: 40vh;
  /* align-items: center;
  justify-content: center;
  text-align: center;
   margin: 10%; */
}

.newshd1{
  font-size: 32px;
}
.newshd2{
  font-size: 24px;
}
form{
  display: flex;
  flex-flow: column;
  align-items: center;
}
label{
  display: inline-block;
  color: #968772;
  font-size: 24px;
  position: relative;
  right: 192px;
  top: 45px;
  text-decoration: underline;

}

input{
    display: inline-block;
    border-style: solid;
    /* border-bottom: 20px; */
    border-color: #968772;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    width: 300px;
}


button{
  background-color: #968772;
  color: #F2F1E8;
  font-size: 20px;
  border: 0;
  margin: 10px;
  padding: 20px;
  width: 25%;
}
button:hover{
  background-color: #967343;
  color: #FFFFFF;
}


/* -------------------- Common Footer -------------------------- */
#site-footer {
	position: fixed;
  margin-top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
	color: #F2F1E8;
  background-color: #383634;
}
